* {
    margin: 0;
    padding: 0;
    
  }
  

header { 
    display: flex;
    padding: 8px;
    justify-content: space-between;
    background-color: #1F2937;
}

#signature, ul { 
    display: flex;
    align-items: center;
    gap: 16px;
}

#signature {
    margin-left: 5%;
}

ul {
    list-style-type: none;
    margin-right: 10%;
  }

a {
    font-size: 18px;
    gap: 4px;
    color: white;
    text-decoration: none;
  }
  
.hero {
display: flex;
background-color: #1F2937;
justify-content: space-around;
align-items: center;
}

#portrait { 
    background-color: #1F2937;
    border-radius: 30px;
    margin-right: 10%;
}

#herotext { 
    font-size: 36px;
    margin-left: 5%;
    color: white;
    background-color: #1F2937;
}

#bestselling {
    display: flex;
    align-items: center;
    font-size: 24px;;

}

.books{
    margin-left: 5%;
    background-color: white;
    display: flex;
    justify-content: space-evenly;
    gap: 32px;
}

.quote{
display: flex;
align-items: center;
justify-content: center;
    font-style: italic;
    background-color: #e5e7eb;
    font-size: 28px;
    padding-top: 7%;
    padding-bottom: 7%;
    padding-left: 5%;
}
